

<!DOCTYPE html>
<html>

<div>

    <h2 class="courseHeader">{{title}}</h2>

    <div id="added">
        {{#if listExists}}
            <ul>
                {{#each milestone}}
                    <li>{{this.Name}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <form method="post" id="add">
        <label for="MileStone">Milestone:</label>
        <input type="text" id="MileStone" name ="MileStone"><br>

        <input type="submit" value="Add"><br>
    </form>

    </body>

    <script src="public/javascripts/custom.js"></script>

</html>