<!DOCTYPE html>
<html>

<body>

<h2 class="courseHeader">{{title}}</h2>


<div id="added">
{{#if listExists}}
    <ul>
        {{#each milestone}}
            <li>{{this.Name}}</li>
        {{/each}}
    </ul>
{{/if}}
</div>



<form method="post" id="add">
    <label for="MileStone">MileStone:</label><br>
    <input type="text" id="MileStone" name ="MileStone"><br>

    <input type="submit" value="Add">

</form>

<h2 class="courseSubtitle" style="margin-left: 27em">{{error}}</h2>



<button id="View">View CourseWork</button>

<Div id="newCoursework" style="display: none">{{newCoursework}}</Div>

<a href="/coursework">View All Coursework</a>



</body>

<script src="/javascripts/milestone.js"></script>

</html>