<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <!-- Stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Favicon -->
    <link href="/favicon.png" rel="icon">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/43c2b8904a.js" crossorigin="anonymous"></script>
</head>

<!-- Navbar Menu Script -->
<script type="text/javascript">
    function nav() {
        var x = document.getElementById("navbar");
        if (x.className === "nav-menu") {
            x.className += "responsive";
        } else {
            x.className = "nav-menu";
        }
    }
</script>


<!-- Navigation -->
<header>
    <a href="#main-menu"
       id="main-menu-toggle"
       class="menu-toggle"
       aria-label="Open main menu">
        <span class="sr-only">Open Main Menu</span>
        <span class="fa fa-bars"></span>
    </a>

    <h1 class="logo"><a href="/">Upbeak</a></h1>

    <nav id="main-menu" class="main-menu" aria-label="Main Menu">
        <a href="#main-menu-toggle"
           id="main-menu-close"
           class="menu-close"
           aria-label="Close main menu">
            <span class="sr-only">Close main menu</span>
            <span class="fa fa-close"></span>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <!--<li><a href="./coursework.hbs">Add New Coursework</a></li>
            <li><a href="./modifyCoursework.hbs">Edit Coursework</a></li>
            <li><a href="./modifyMilestone.hbs">Edit Milestone</a></li>-->
            <li><a href="/coursework">My Coursework</a></li>
            <li><a href="/login/logout">Logout</a></li>
        </ul>
    </nav>

    <a href="#main-menu-toggle"
       class="backdrop"
       tabindex="-1"
       aria-hidden="true"
       hidden></a>
</header>

<body>
{{{body}}}
</body>

</html>
