<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<a href="/coursework">My Coursework</a>
<a href="/login/logout">Logout</a>


{{{body}}}
</html>
