<!DOCTYPE html>
<html>

<body>
<form method="post">
    <label for="Title">Title:</label><br>
    <input type="text" id="Title" name ="Title"><br>
    <label for="Module">Module:  </label><br>
    <input type="text" id="Module" name="Module">
    <label for="DueDate">DueDate (DD/MM/YY):  </label><br>
    <input type="date" id="DueDate" name="DueDate">
    <label for="CompletionDate">CompletionDate (DD/MM/YY):  </label><br>
    <input type="date" id="CompletionDate" name="CompletionDate">


    <input type="submit" value="Add">

</form>

</body>

</html>