<!DOCTYPE html>
<html>

<body>

<section id="courseworkCreate">
    <form id="courseworkForm" method="post">
        <label for="Title">Title:</label>
        <input type="text" id="Title" name ="Title"><br>

        <label for="Module">Module:  </label>
        <input type="text" id="Module" name="Module"><br>

        <label for="DueDate">DueDate (DD/MM/YY):  </label>
        <input type="date" id="DueDate" name="DueDate"><br>

        <label for="CompletionDate">CompletionDate (DD/MM/YY):  </label>
        <input type="date" id="CompletionDate" name="CompletionDate"><br>

        <br>
        <input type="submit" value="Add">
    </form>
</section>
<h2 class="courseSubtitle" style="margin-left: 27em">{{error}}</h2>

</body>

</html>