<!DOCTYPE html>
<html>

<h1 class="courseHeader">{{title}}</h1>
<h1 class="courseHeader">Welcome to {{title}}</h1>

<body>
<img src="/owl.svg" style="margin-left: 56em; width: 92px; height: 92px">
<p class="courseSubtitle" style="margin-left: 30em">Upbeak is a coursework management website, to get started please log in.</p>
</body>

</html>