<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <a href="/login/1">Login</a>
  <a href="/register/">Register</a>
  <body>
    {{{body}}}
  </body>
</html>
