<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<section class="loginSection">
    <h2 class="loginHeader">Login: </h2>

    <form id="loginForm" method="post">
        <label for="username">Username:  </label><br>
        <input type="text" id="username" name ="username"><br>

        <label for="password">Password:  </label><br>
        <input type="text" id="password" name="password">

        <br>
        <input type="submit" value="Login">
    </form>
</section>

<br>
<a class="loginSubtitle" href="./register">Don't Have an account? Sign up</a>
</body>
</html>