<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form method="post">
    <label for="username">Username:  </label><br>
    <input type="text" id="username" name ="username"><br>
    <label for="password">Password:  </label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="Login">

</form>

{{error}}

<a href="./register">Don't Have an account? Sign up</a>
</body>
</html>