<body>
<form id="courseworkForm" method="post">


    <label for="Milestone">Milestone:  </label><br>
    <input type="text" id="Milestone" name="Milestone" value="{{Milestone}}">



    <input type="submit" value="Update">

</form>

</body>