<body>
<form id="courseworkForm" method="post">


    <label for="Milestone">Milestone:  </label><br>
    <input type="text" id="Milestone" name="Milestone" value="{{Milestone}}">

    <select id="Finished" name="Finished">
        <option value="true"{{true}}>Completed</option>
        <option value="false" {{false}}>Uncompleted</option>

    </select>


    <input type="submit" value="Update">

</form>

</body>